.container_emulator{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem !important;
}

.hader_emulador{
     width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2rem;
    border: 1px solid var(--color--links);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(6, 182, 212, 0.4);
    align-items: center;
}

.hader_emulador img{
    width: 30%;
    border-radius: 8px;
}

.list_data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: var(--color--text-base);
}

.fechas{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem !important;    
}

.fechas select{
    width: 20%;
    padding: .5rem;
    font-size: 16px;
    color: var(--color--secundario);
    border-radius: 10px;
    border: 1px solid var(--color--links);
}

.zonas{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem !important; 
}

.zonas select{
    width: 20%;
    padding: .5rem;
    font-size: 16px;
    color: var(--color--secundario);
    border-radius: 10px;
    border: 1px solid var(--color--links);
}

.lugares{
     width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem !important;     
}

.lugares h5{
    color: var(--color--text-base);
    font-size: 20px;
    font-family: 400;
}

.box-lugares{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem !important; 
    list-style: none;
    border: 1px solid var(--color--links);
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--color--text-base);
}

.box-lugares li{
    border-bottom: 1px solid var(--color--links);
    display: flex;
    justify-content: space-between;
}